<div class="container" [class.focused]="focused">
    <div class="search-bar" [class.light]="borderColor === 'dark'">
        <div class="signifier">
            <ion-icon name="search"></ion-icon>
        </div>
        <form action="." #searchForm="ngForm" (ngSubmit)="handleSubmit()">
            <input [(ngModel)]="query" [value]="value" [type]="type"
                [placeholder]="placeholder || ('Search')"
                (ngModelChange)="propagateChange(query);queryChange.emit(query)" (focus)="setFocusState()"
                (blur)="setBlurTimeout()" #searchInput name="searchQuery" [ngStyle]="{'backgroundColor': bcgColor}">
        </form>
        <button class="clear" *ngIf="showFocus()" (click)="clearInput()">
            <ion-icon [name]="'close'"></ion-icon>
        </button>
    </div>
</div>
