.container {
    padding: 16px;

    ion-card {
        &.user-profile-card {
            --background: #003e84;
        }
        margin-bottom: 16px;
        h4 {
            color: white;
        }

        ion-card-header {
            ion-card-title {
                font-family: 'Roboto Slab';
            }
            img {
                width: 48px;
                height: 48px;
                border-radius: 24px;
            }
        }
        ion-card-content {
            > ion-list {
                margin: 0px -16px;
                padding: 0 0;
            }
        }
    }
}
