ion-menu-button {
    color: var(--ion-color-primary);
}
.container {
    padding: 16px;
}

ion-card.random-word {
    text-align: center;
    ion-card-title {
        font-family: 'Roboto Slab';
    }
}

ion-card.feature-card {
    height: 120px;
    --background: #003e84;
    text-align: left;
    margin-right: 8px;
    h2 {
        color: white;
    }
    p {
        color: rgba(255, 255, 255, 0.54);
    }

    .feature-image-container {
          height: 100%;
          width: 250px;
          position: relative;

          img {
            margin-top: -30px;
          }
    }
}

.definition-card {
    --background: #484964;
    p.definition {
        color: white;
    }
}

ion-slides.saved-words-slides {
    ion-card {
        width: 100%;
        height: 120px;
        margin-right: 16px;
        ion-card-title {
            font-family: 'Roboto Slab';
        }
    }
}

// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
