<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Search for Words</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <app-search-bar
            [(ngModel)]="searchQuery"
            (ngModelChange)="queryChanged()"
            (submitInput)="querySubmitted()"
            [showCancelButton]="searchActive ? 'always' : 'focus'"
            [placeholder]="'Search Words'"
        ></app-search-bar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-slides
            [pager]="true"
            [scrollbar]="true"
            [options]="featureCardSlideOptions"
            (ionSlideWillChange)="slideWillChange()"
            (ionSlideDidChange)="slideDidChange()"
            #featureSlidesRef
        >
            <ion-slide>
                <ion-card class="feature-card">
                    <ion-card-content>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <h2>Save words for later</h2>
                                <p>Search any English word to see detailed meanings</p>
                            </div>
                            <div class="feature-image-container">
                                <img src="../../assets/images/taxi-866.png" />
                            </div>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <ion-card class="feature-card">
                    <ion-card-content>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <h2>Random word</h2>
                                <p>Check out the random word in the card below</p>
                            </div>
                            <div class="feature-image-container">
                                <img src="../../assets/images/Typing-cuate.png" />
                            </div>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <h2>Random Word</h2>
        <ion-card *ngIf="wordDefinition" routerLink="/definition/{{wordDefinition?.word}}" class="random-word">
            <ion-card-header>
                <ion-card-title>{{wordDefinition?.word}}</ion-card-title>
                <ion-card-subtitle>{{wordDefinition?.pronunciation?.all}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="wordDefinition?.syllables?.list.length > 0">
                    {{getSyllablesString(wordDefinition?.syllables?.list)}}
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-card class="definition-card">
                    <ion-card-content *ngFor="let definition of wordDefinition?.results; let i = index">
                        <p>Meaning {{i + 1}} - {{definition.partOfSpeech}}</p>
                        <p class="definition">{{definition.definition}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!wordDefinition" class="random-word">
            <ion-card-header>
                <ion-card-title><ion-skeleton-text animated style="width: 60%; height: 20px"></ion-skeleton-text></ion-card-title>
                <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-card class="definition-card">
                    <ion-card-content>
                        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                        <p class="definition"><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
                    </ion-card-content>
                </ion-card>
            </ion-card-content>
        </ion-card>
        <h2>Saved Words</h2>
        <ion-text color="medium">
            <p *ngIf="savedWords.length === 0">Save a word by searching for it and clicking on the heart to save.</p>
        </ion-text>
        <ion-slides class="saved-words-slides" [options]="savedWordsSlideOptions" #savedWordsSlidesRef>
            <ion-slide *ngFor="let word of savedWords">
                <ion-card>
                    <ion-card-content>
                        <ion-card-title>{{word}}</ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
